<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { pageTitle }) %>

  <body
    class="bg-gray-100 text-gray-800 font-sans flex flex-col min-h-screen pattern-dots"
  >
    <%- include('../partials/nav') %>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex-grow">
      <!-- Recently Added Homes -->
      <section class="mt-16">
        <h3 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
          Heyyy host ! Here are your homes
        </h3>

        <% if (homes.length === 0) { %>
        <p class="text-center text-gray-500">
          No homes added yet. Be the first to host!
        </p>
        <% } else { %>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <% homes.forEach(home => { %>
          <div class="bg-white p-6 rounded-lg shadow-md max-w-[350px]">
            <div class="mb-4">
              <img
                src="<%= home.photo %>"
                alt="<%= home.name %> photo"
                class="w-[300px] h-[200px] rounded-lg object-cover"
              />
            </div>

            <h4 class="text-xl font-bold text-red-500 mb-2">
              <%= home.name %>
            </h4>
            <p class="text-gray-700">Location : <%= home.location %></p>
            <p class="text-gray-600 my-2 ">
              Description : <%= home.description %>
            </p>

            <p class="text-gray-600 my-2">Rating : <%= home.rating %></p>
            <p class="text-gray-900 font-semibold">
              Rs.<%= home.price %> / night
            </p>
            <div class="mt-4 space-x-2">
              <% if (pageTitle === 'Edit-Home') { %>

              <a
                href="/host/edit-home/<%= home._id%>"
                class="bg-yellow-400 text-black px-5 py-2 rounded-md hover:bg-yellow-500 transition hover:cursor-pointer"
              >
                Edit
              </a>

              <%} else if (pageTitle === 'Delete-Home') { %>

              <a
                href="/host/delete-home/<%= home._id%>"
                class="bg-gray-700 text-white px-5 py-2 rounded-md hover:bg-gray-800 transition hover:cursor-pointer"
              >
                Delete
              </a>

              <% } %>
            </div>
          </div>
          <% }) %>
        </div>
        <% } %>
        <div class="text-center mt-10 mb-10">
          <a
            href="/host/host-page"
            class="inline-block bg-yellow-500 text-black px-3 py-1 rounded-md hover:bg-yellow-600 transition"
          >
            Go back
          </a>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
